#logo {
  width: 220px;
}

header {
  margin-top: 10px;
  align-items: center;
  height: 100px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#HLogo {
  gap: 10px;
  display: flex;
  align-items:center;
  
}
span{
  color: #fe793d;
}
#HLogo div p:nth-child(1) {
  font-family: 'Lobster', cursive;
  color: rgba(42, 173, 196, 0.911);
  font-size: 45px;
  position: absolute;
  top: 10px;
  left: 170px;
}

#HLogo div p:nth-child(2) {
  color: #fe793d;
  font-weight: bold;
  margin-top: 5px;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 170px;
}

#nav a {
  padding: 20px;
  text-decoration: none;
  color: rgba(42, 173, 196, 0.911);
  font-size: 20px;
  margin-left: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.4s;
}
.about-section p {
  font-size: 50px;
  border-radius: 60%;
 
}



#nav a:hover {
  color: white;
  background-color: rgba(42, 173, 196, 0.911);
 
}

hr {
  background-color: #fe793d;
  height: 1px;
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}

main h1{
  margin-top: 80px;
  font-size: 50px;
  margin-left: 15%;
  color: rgba(42, 173, 196, 0.911);;
}
main p{
  color: rgba(42, 173, 196, 0.911);;
  margin-top: 25px;
  margin-left: 15%;
  width: 50%;
  font-size: 30px;
}
main h2{
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 100px;
  font-weight: bold;
  color: #fe793d;
}
#cards{
  display: grid;
  gap: 50px;
  width: 90%;
  margin-left: 5%;
}
#cards section:nth-child(1),#cards section:nth-child(2) {
  display: flex;
justify-content: space-between;
}
#cards section div{
  width: 400px;
  background-color: rgba(240, 240, 240, 0.911);
}
#cards section img{
  width: 90%;
  height: 400px;
  object-fit: contain;
  margin-left: 5%;
  margin-top: 20px;
}
#cards section h3{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #fe793d;
}
#cards section p{
  font-size: 20px;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  margin-bottom: 20px;
}
#bottom {
  display: grid;
  background-color: rgba(240, 240, 240, 0.911);
  width: 400px;
  margin: auto;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.5;
  background-color:rgba(42, 173, 196, 0.911);
  color: white;
  height: 120px;
}
#navIcons{
  display: flex;
  justify-content: center;
  gap: 20px;
}
#navIcons a {
  margin-top: 20px;
  width: 25px;
 
  text-decoration: none;
}
#navIcons img {
  margin-top: 20px;
 width: 25px;
 
}

footer hr {
  margin: auto;
  width: 90%;
  background-color: white;
}
.downSection {
  margin-top: 20px;
}
footer p {
  text-align: center;
  margin-top: 10px;
  color: #000;
  
  
}
