
#logo {
  width: 220px;
}

header {
  margin-top: 10px;
  align-items: center;
  height: 100px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#HLogo {
  gap: 10px;
  display: flex;
  align-items:center;
  
}
span{
  color: #fe793d;
}
#HLogo div p:nth-child(1) {
  font-family: 'Lobster', cursive;
  color: rgba(42, 173, 196, 0.911);
  font-size: 45px;
  position: absolute;
  top: 10px;
  left: 170px;
}

#HLogo div p:nth-child(2) {
  color: #fe793d;
  font-weight: bold;
  margin-top: 5px;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 170px;
}

#nav a {
  padding: 20px;
  text-decoration: none;
  color: rgba(42, 173, 196, 0.911);
  font-size: 20px;
  margin-left: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.4s;
}

#nav a:hover {
  color: white;
  background-color: rgba(42, 173, 196, 0.911);
 
}

hr {
  background-color: #fe793d;
  height: 1px;
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}



  main {
    display: grid;
    width: 90%;
    margin: auto;
}



div div {
  
    padding: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 30px;
}

div div div {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    font-family: arial;
    line-height: 0.5;

    margin: auto;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid transparentize(white, 0.5);
    text-shadow: 0 0 1em transparentize(black, 0.5);
    background: transparentize(white, 0.8);
    backdrop-filter: blur(20px);
    transform: perspective(500px);
    transform-style: preserve-3d;
    
} 

div div div p {
    color: grey;
    font-size: 12px;
}

div div div img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin: auto;
}




div div div button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(42, 173, 196, 0.911);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

h4{
    margin-top: 10px;
font-size: 24px;
position: relative;
top:20px
}
div div div  button:hover {
  background-color: rgba(42, 173, 196, 0.911);
    opacity: 0.7;
  }

#hero{
  width: 100%;
  background-image: url('https://images.ctfassets.net/t014ej9w3ur1/18OJ5oUi559G9l7rExCA0E/01594f4f08f94a3c41d8db0ed8f3df75/Hiding_pets.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
  height:470px;
}
#kind{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
#kind button{
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border: rgba(42, 173, 196, 0.911)  2px solid;
}

button img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}


/* form */
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width:280px;
  z-index: 20;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width:700px;
  padding: 5px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=number], .form-container select, .form-container textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #ffbb00;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(100, 71, 9);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
h3{
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: 52px;
    color: rgba(42, 173, 196, 0.911);
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.5;
  background-color:rgba(42, 173, 196, 0.911);
  color: white;
  height: 120px;
}
#navIcons{
  display: flex;
  justify-content: center;
  gap: 20px;
}
#navIcons a {
  margin-top: 20px;
  width: 25px;
 
  text-decoration: none;
}
#navIcons img {
  margin-top: 20px;
 width: 25px;
 
}

footer hr {
  margin: auto;
  width: 90%;
  background-color: white;
}
.downSection {
  margin-top: 20px;
}
footer p {
  text-align: center;
  margin-top: 10px;
  color: #000;
  
  
}


