
div div div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
    font-family: arial;
}

div div div p {
    color: grey;
    font-size: 12px;
}

div div div img{
    width: 100%;
}
div div div button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

div div div  button:hover {
    opacity: 0.7;
  }
