/* Specifically Targeting the Main Header (not to be confused with headers within cards) */

* {
  padding: 0;
  margin: 0;
}

body {
  margin-top: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(255, 166, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

#myBtn:hover {
  border: 2px solid orange;
  background-color: white;
  color: orange;
}

#logo {
  width: 220px;
}

header {
  align-items: center;
  height: 100px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#HLogo {
  gap: 10px;
  display: flex;
  align-items: center;
}

span {
  color: #fe793d;
}

#HLogo div p:nth-child(1) {
  font-family: 'Lobster', cursive;
  color: rgba(42, 173, 196, 0.911);
  font-size: 45px;
  position: absolute;
  top: 10px;
  left: 170px;
}

#HLogo div p:nth-child(2) {
  color: #fe793d;
  font-weight: bold;
  margin-top: 5px;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 170px;
}

#nav a {
  padding: 20px;
  text-decoration: none;
  color: rgba(42, 173, 196, 0.911);
  font-size: 20px;
  margin-left: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.4s;
}

#nav a:hover {
  color: white;
  background-color: rgba(42, 173, 196, 0.911);
}

hr {
  background-color: #fe793d;
  height: 1px;
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}


/* Main Content */


/* Note the height calculation -- that's to keep the footer at the bottom */

main {
  line-height: 1.5em;
  margin: 1.5em 1.5em 2.5em;
  min-height: calc(100% - 9.5em);
  height: auto !important;
  text-shadow: white -1px 1px;
  font-family: 'Volkhov', serif;
  font-size: 22px;
}


/* Footer Styling and sticking to the bottom */

footer {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.5;
  background-color: rgba(42, 173, 196, 0.911);
  color: white;
  height: 120px;
}

#navIcons a {
  width: 25px;
  text-decoration: none;
}

#navIcons img {
  width: 25px;
  margin-right: 30px;
  margin-top: 30px;
}

footer hr {
  margin: auto;
  width: 90%;
  background-color: white;
}

.downSection {
  margin-top: 20px;
}

footer p {
  text-align: center;
  margin-top: 10px;
  color: #000;
}


/* Generic Deck and Card Styles */


/* Card styles specific to this application */


/* Styles for the order form and summary on the main page */


/* Styles for the table on the cart page */

#cart {
  border-collapse: collapse;
  margin: auto;
  width: 50%;
  border: 2px solid rgb(121, 37, 37);
}

#cart thead tr th {
  color: rgb(22, 19, 19);
  border-bottom: 3px solid #062f4f;
  font-weight: bold;
  padding: .5em 1em;
  background: lavender;
  text-align: center;
  border: 3px solid rgba(42, 173, 196, 0.911);
  width: 200px;
}

#cart thead tr .itemHeader {
  width: 40%;
  height: 40%;
}

#cart tr td {
  border-bottom: 1px solid #062f4f;
  border-collapse: none;
  color: #777;
  padding: .5em 1em;
  text-align: center;
  border-collapse: collapse;
  border: 3px solid rgba(42, 173, 196, 0.911);
}

#cart tr td:last-child,
#cart tr th:last-child {
  text-align: center;
  width: 100%;
}

#cart tr td:first-child {
  color: red;
  cursor: pointer;
  text-align: center;
  border: 3px solid rgba(42, 173, 196, 0.911);
}

#total {
  display: flex;
  margin-left: 28%;
  gap: 194px;
}

.mainHeader {
  text-align: center;
  margin: 70px;
  color: rgba(42, 173, 196, 0.911);
  font-size: 35px;
  font-weight: bold;
}

.tablesection {
  margin-top: 150px;
  margin-bottom: 275px;
}