* {
    padding: 0;
    margin: 0;
  }
  
  
  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 166, 0);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
  }
  
  #myBtn:hover {
    border: 2px solid orange;
    background-color: white;
    color: orange;
  }
  
  #logo {
    width: 70px;
  }
  
  header {
    align-items: center;
    height: 100px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
  }
  
  #HLogo {
    gap: 10px;
    display: flex;
    align-items: center;
  }
  
  #HLogo div p:nth-child(1) {
    font-family: 'Lobster', cursive;
    color: orange;
    font-size: 55px;
  }
  
  #HLogo div p:nth-child(2) {
    color: orange;
    font-weight: bold;
    margin-top: 5px;
    font-size: 15px;
  }
  
  #nav a {
    padding: 20px;
    text-decoration: none;
    color: orange;
    font-size: 20px;
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.4s;
  }
  
  #nav a:hover {
    color: white;
    background-color: orange;
    border-radius: 110px;
  }
  
  hr {
    background-color: orange;
    height: 1px;
    border: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
  }


body{
    margin: 0px 20px;
}
main{
    margin:50px 100px;
    height:800px;

}
#sec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    height: 900px;
}
#div1{
    
    width: 520px;
    height: 520px;
    display: grid;
   grid-template-columns: 1fr 1fr;
   z-index: 20;
   position: absolute;
   left: 120px;
   margin-top: 50px;
}
#div2 {
    position: absolute;
   right: 150px;
   width:900px;
    height: 600px;
    gap: 20px;
    background-color: rgb(252, 136, 4);
  



}
#div1-1, #div1-2, #div1-3, #div1-4{
    background-color: rgb(170, 94, 6);
    width: 230px;
    height: 230px;
    text-align: center;

}

input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid rgb(248, 184, 125);
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type=submit] {
background-color: #aa5d04;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #ff6600;
}

.container {
border-radius: 5px;

padding: 20px;
width:80%;
float:right;
}

label{
font-weight: bold;
}

img{
width: 70px;
margin-top: 30px;
object-fit:cover;
height: 70px;
}

#sec1 img{
width: 100%;
object-fit: cover;
height: 500px;
}
#sec1 h1{
position: absolute;
  bottom: 300px; 
  left:400px;
  font-size: 40px;
}
h3{
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
}

footer {
    width: 90%;
    text-align: center;
    margin-top: 500px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-left: 5%;
    background-color: orange;
    color: white;
  }
  footer h6{
    color: gray;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .upSection {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
    padding-top: 30px;
  }
  .flexDiv:first-child {
    width: 300px;
    align-content: left;
    font-size: large;
  }
  /* #footerLogo {
    width: 100px;
    height: 100px;
  } */
  .usefulLinks a {
    text-decoration: none;
    line-height: 1.5;
    color: white;
  
  }
  .fastLinks a {
    text-decoration: none;
    line-height: 1.5;
    color: white;
  }
  #navIcons{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  #navIcons a {
    width: 25px;
    text-decoration: none;
  }
  #navIcons img {
   width: 25px;
  }
  .map iframe {
    width: 170px;
    height: 170px;
    
  }
  footer hr {
    margin: auto;
    width: 90%;
    background-color: white;
  }
  .downSection {
    margin-top: 20px;
  }
  .downSection p {
    text-align: center;
  }