#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(255, 166, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

#myBtn:hover {
  border: 2px solid orange;
  background-color: white;
  color: orange;
}

#logo {
  width: 220px;
}

header {
  margin-top: 10px;
  align-items: center;
  height: 100px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#HLogo {
  gap: 10px;
  display: flex;
  align-items: center;
}

span {
  color: #fe793d;
}

#HLogo div p:nth-child(1) {
  font-family: 'Lobster', cursive;
  color: rgba(42, 173, 196, 0.911);
  font-size: 45px;
  position: absolute;
  top: 10px;
  left: 170px;
}

#HLogo div p:nth-child(2) {
  color: #fe793d;
  font-weight: bold;
  margin-top: 5px;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 170px;
}

#nav a {
  padding: 20px;
  text-decoration: none;
  color: rgba(42, 173, 196, 0.911);
  font-size: 20px;
  margin-left: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.4s;
}

#nav a:hover {
  color: white;
  background-color: rgba(42, 173, 196, 0.911);
}

hr {
  background-color: #fe793d;
  height: 1px;
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}

#hero {
  margin-top: 50px;
}

.slider {
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: scroll 15s infinite;
}

.slider figure img {
  width: 20%;
  height: 800px;
  object-fit: cover;
  float: left;
}

@keyframes scroll {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

#heroDiv {
  position: absolute;
  top: 90%;
  left: 6%;
  color: #fe793d;
  -webkit-text-stroke: 1px black;
}

#heroDiv p:nth-child(1) {
  font-family: 'Cherry Swash', cursive;
  font-size: 60px;
}

#heroDiv p:nth-child(2) {
  font-family: 'Cherry Swash', cursive;
  font-size: 35px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: bold;
}

.links {
  margin-top: 100px;
  width: 90%;
  margin-left: 5%;
  gap: 20px;
}

.links div {
  width: 100%;
  height: 500px;
}

.links div p {
  font-size: 30px;
  margin-top: 120px;
  color: white;
  line-height: 1.3;
  width: 50%;
  margin-left: 25%;
}

div button {
  margin-top: 130px;
  padding: 20px;
  background-color: rgba(42, 173, 196, 0.911);
  border: none;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.links img {
  width: 100%;
}

div button:hover {
  opacity: .8;
}

.pit-services,
.pit-shop,
.pit-adapter {
  margin-top: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../images/best-pets-for-kids-1-1-1024x683.jpeg);
  background-size: cover;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
  border: 1px solid rgba(42, 173, 196, 0.911);
  transition: 00.4s;
}


/* .pit-services:hover {
  box-shadow: 0 0px 10px rgba(42, 173, 196, 0.911);
  transform: scale(.95);
} */

.pit-shop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../images/shop.jpg)
}

.pit-adapter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../images/vet-loans-1030x760.jpg);
  content: unset;
}


/* .pit-shop:hover {
  box-shadow: 0 0px 10px rgba(42, 173, 196, 0.911);
  transform: scale(.95);
} */


/* .pit-adapter:hover {
  box-shadow: 0 0px 10px rgba(42, 173, 196, 0.911);
  transform: scale(.95); */


/* } */

#why {
  width: 90%;
  margin-left: 5%;
  position: relative;
}

#why img {
  width: 100%;
  filter: brightness(70%);
}

.whyDiv {
  width: 400px;
  position: absolute;
  top: 30%;
  left: 7%;
  color: white;
  line-height: 1.5;
}

.whyDiv h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.whyDiv p {
  font-size: 30px;
}

#services {
  display: grid;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  margin-left: 10%;
}

#services h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

#cont,
#cont2 {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.cont-div {
  width: 300px;
  padding: 30px;
}

.cont-div h3 {
  font-size: 35px;
  margin-bottom: 20px;
}

.cont-div p {
  font-size: 20px;
  line-height: 1.5;
}

#cont2 div:nth-child(1),
#cont2 div:nth-child(3) {
  background-color: #c2d1e5;
}

#cont2 div:nth-child(2) {
  background-color: #fbc6d0;
}

#cont div:nth-child(2) {
  background-color: #c2d1e5;
}

#cont div:nth-child(1),
#cont div:nth-child(3) {
  background-color: #fbc6d0;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.5;
  background-color: rgba(42, 173, 196, 0.911);
  color: white;
  height: 120px;
}

#navIcons {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

#navIcons a {
  margin-top: 20px;
  width: 25px;
  text-decoration: none;
}

#navIcons img {
  margin-top: 20px;
  width: 25px;
}

footer hr {
  margin: auto;
  width: 90%;
  background-color: white;
}

.downSection {
  margin-top: 20px;
}

footer p {
  text-align: center;
  margin-top: 10px;
  color: #000;
}