
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');





#cartLogo{
    float:right;
}
header nav {
    text-align: right;
    width:100%;
    height: 70px;
    
   
  }
  main{
    display;grid-template-columns: 40px 20px;
}
 .h1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  font-size: 80px;
    position: relative;
    font-family:'Sonsie One', cursive ;
 }
  #product{
    background-image: url("https://previews.123rf.com/images/bschonewille/bschonewille1710/bschonewille171000025/88150866-two-young-white-cats-with-shopping-cart-on-black-background.jpg");
    justify-content: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
      width:100%;
      min-height: 400px;
     
     
  }
nav a{
    padding: 10px 20px;
   
}
#product{
    color: #e6a9a9;
    font-family: 'RocknRoll One', sans-serif;
font-size: 65px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
text-align: center;
}

.producttype{
    text-align: left;
}
.producttype a {
    font-size: 20px;
    border: rgb(58, 111, 163);
    border-style: solid;
    border-radius: 50%;
    color: rgb(235, 98, 98);
}


p li {
    font-size: 20px;
}


  
section img {
  width: 250px;
  height: 250px ;
  display: flex;
  border-radius: 25%;
  justify-content: space-between;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}