
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
}





#logo {
  width: 70px;
}

header {
  align-items: center;
  height: 100px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

#HLogo {
  gap: 10px;
  display: flex;
  align-items: center;
}

#HLogo div p:nth-child(1) {
  font-family: 'Lobster', cursive;
  color: orange;
  font-size: 55px;
}

#HLogo div p:nth-child(2) {
  color: orange;
  font-weight: bold;
  margin-top: 5px;
  font-size: 15px;
}

#nav a {
  padding: 20px;
  text-decoration: none;
  color: orange;
  font-size: 20px;
  margin-left: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.4s;
}

#nav a:hover {
  color: white;
  background-color: orange;
  border-radius: 110px;
}

hr {
  background-color: orange;
  height: 1px;
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}


 #nav img{
    width: 60px;
    height: 70px;
    display: flex;
    float:right;
 }


 
   
 header nav {
  text-align: right;
  width:100%;
  height: 70px;

 }

  #main{
  display:flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between

 };

 section h1{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
 font-size: 80px;
  position: relative;
  font-family:'Sonsie One', cursive ;
  color: #e6a9a9;}

#product{
 
  justify-content: center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
    width:100%;
    min-height: 400px;
    color: #e6a9a9;
  font-family: 'RocknRoll One', sans-serif;
  text-align: center;}
nav a {
  padding: 10px 20px;
}

.producttype{
    text-align: left;
}
.card{float: left;
  width: 33.33%;
  padding: 5px;
}
#ProductsImages::after {
  content: "";
  clear: both;
  display: table;
}

.card{
  position: relative;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  height: 800px;
  margin: auto;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 align-items: column ;
 padding: 20px;
 margin: auto;
 

 
}
.productimg{
width:100%;
height: 500px;
display: flex;
padding: 20px;
 margin: 0px;

}

p {
  min-height: 30px;
color: rgb(110, 86, 86);
  justify-content: space-between;
  font-size: 20px;
  padding: 20px;
 margin: 0px;
  
}
.description{
  font-size: 100px;
  
}

.input {
  position:sticky;
  border: none;
  padding: 20px;
  color: white;
  background-color: rgb(248, 2, 2);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  
  
}

.card button:hover {
  opacity: 0.7;
}

#price{
  color: red;
  font-family:Impact 'Arial Narrow Bold', sans-serif;
  float: left;
}






