

body {
  margin-top: 10px;
  background-color: rgb(241, 241, 241);
}

#logo {
  width: 220px;
}

header {
  align-items: center;
  height: 100px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#HLogo {
  gap: 10px;
  display: flex;
  align-items:center;
  
}
span{
  color: #fe793d;
}
#HLogo div p:nth-child(1) {
  font-family: 'Lobster', cursive;
  color: rgba(42, 173, 196, 0.911);
  font-size: 45px;
  position: absolute;
  top: 10px;
  left: 170px;
}

#HLogo div p:nth-child(2) {
  color: #fe793d;
  font-weight: bold;
  margin-top: 5px;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 170px;
}

#nav a {
  padding: 20px;
  text-decoration: none;
  color: rgba(42, 173, 196, 0.911);
  font-size: 20px;
  margin-left: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.4s;
}

#nav a:hover {
  color: white;
  background-color: rgba(42, 173, 196, 0.911);
 
}

hr {
  background-color: #fe793d;
  height: 1px;
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}

#nav img {
  width: 60px;
  height: 70px;
  display: flex;
  float: right;
}

header nav {
  text-align: right;
  width: 100%;
  height: 70px;
}

#main {
  display: flex;
  width: 90%;
  margin-left: 5%;
  justify-content: space-between;
}

.producttype {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  height: 100px;
  background-color: #95bddc;
}

.producttype button {
  margin-top: 15px;
  width: 100px;
  height: 50px;
  color: #95bddc;
  border: 1px solid #95bddc;
  border-radius: 30px;
  font-size: 18px;
}

.producttype button:hover {
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
}

.producttype img {
  margin: auto;
  width: 70px;
  border-radius: 30px;
}

#ProductsImages {
  margin-top: 100px;
  width: 90%;
  margin-left: 5%;
  display: grid;
  gap: 30px;
  grid-template-columns: 30% 30% 30%;
 justify-content: space-between;
}
.card {
  height: 700px;
  width: 100%;
  background-color: white;
  position: relative;
}

.card h1 {
  text-align: center;
  width: 90%;
  margin-left: 5%;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fb4c1f;
}

.card p {
  text-align: center;
  width: 90%;
  margin-left: 5%;
  font-size: 20px;
  color: #fb4c1f;
}

.card img {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

#botDiv {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  font-size: 20px;
}
.input {
  font-size: 20px;
  border: none;
  padding: 20px 40px;
  background-color: #95bddc;
  color: white;
}
#price {
  padding: 20px 40px;
  border: 1px solid #95bddc;
  color: #95bddc;
}
.card button:hover {
  opacity: 0.7;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.5;
  background-color:rgba(42, 173, 196, 0.911);
  color: white;
  height: 120px;
}
#navIcons{
  display: flex;
  justify-content: center;
  gap: 20px;
}
#navIcons a {
  margin-top: 20px;
  width: 25px;
 
  text-decoration: none;
}
#navIcons img {
  margin-top: 20px;
 width: 25px;
 
}

footer hr {
  margin: auto;
  width: 90%;
  background-color: white;
}
.downSection {
  margin-top: 20px;
}
footer p {
  text-align: center;
  margin-top: 10px;
  color: #000;
  
  
}