
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(255, 166, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

#myBtn:hover {
  border: 2px solid orange;
  background-color: white;
  color: orange;
}




#logo {
  width: 70px;
}

header {
  align-items: center;
  height: 100px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

#HLogo {
  gap: 10px;
  display: flex;
  align-items: center;
}

#HLogo div p:nth-child(1) {
  font-family: 'Lobster', cursive;
  color: orange;
  font-size: 55px;
}

#HLogo div p:nth-child(2) {
  color: orange;
  font-weight: bold;
  margin-top: 5px;
  font-size: 15px;
}

#nav a {
  padding: 20px;
  text-decoration: none;
  color: orange;
  font-size: 20px;
  margin-left: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.4s;
}

#nav a:hover {
  color: white;
  background-color: orange;
  border-radius: 110px;
}

hr {
  background-color: orange;
  height: 1px;
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}




 #nav img{
    width: 60px;
    height: 70px;
    display: flex;
    float:right;
 }


 
   
 header nav {
  text-align: right;
  width:100%;
  height: 70px;

 }

  #main{
  display:flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;

 }

 .producttype{
   display: flex;
   justify-content: space-around;
   margin: auto;
   width: 60%;
   height: 100px;
   background-color: orange;
   
 }

 .producttype button{
   margin-top: 15px;
   width: 100px;
   height: 50px;
   color: orange;
   border: 1px solid orange;
   border-radius: 30px;
   font-size: 18px;
 }

 .producttype button:hover{
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
  
 }

 .producttype img {
   margin: auto;
   width: 70px;
   border-radius: 30px;
   
   
 }
 .producttype img:hover {
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
 }

nav a {
  padding: 10px 20px;
}



.card{
  float: left;
  width: 33.33%;
  padding: 25px;
}
#ProductsImages::after {
  content: "";
  clear: both;
  display: table;
}


.productimg{
  width:100%;
  height: 500px;
  display: flex;
  padding: 60px;
   margin: 0px;
  
  }

   .card h1{
    color: orange;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: bold;
   
  }
  
 .card p {
    
    color:gray;
    width: 300px;
    margin: auto;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 30px;
  

    
  }

  .card img {
    width: 400px;
    height: 400px;
  }

  .card img:hover{
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
    
  }
  
  
  .input {
    position:sticky;
    border: none;
    padding: 10px;
    color: white;

    background-color:orange;

    background-color: rgb(185, 134, 134);

    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 30px;
    
    
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  #price{

    color:orange;
    margin: auto;

    color: rgb(231, 4, 4);
    font-family:Impact 'Arial Narrow Bold', sans-serif;
    float: left;

  }
  
  
  .card{
    position: relative;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    height: 800px;
    text-align: center;
   align-items: column ;
   padding: 40px;
   
   
  
   
  }


