body {
  margin-top: 20px;
}

#logo {
  width: 220px;
}

header {
  margin-top: 10px;
  align-items: center;
  height: 100px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#HLogo {
  gap: 10px;
  display: flex;
  align-items: center;
}

span {
  color: #fe793d;
}

#HLogo div p:nth-child(1) {
  font-family: 'Lobster', cursive;
  color: rgba(42, 173, 196, 0.911);
  font-size: 45px;
  position: absolute;
  top: 10px;
  left: 170px;
}

#HLogo div p:nth-child(2) {
  color: #fe793d;
  font-weight: bold;
  margin-top: 5px;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 170px;
}

#nav a {
  padding: 20px;
  text-decoration: none;
  color: rgba(42, 173, 196, 0.911);
  font-size: 20px;
  margin-left: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.4s;
}

#nav a:hover {
  color: white;
  background-color: rgba(42, 173, 196, 0.911);
}

hr {
  background-color: #fe793d;
  height: 1px;
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}

main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 100px 200px;
}

main section #pets {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main section #pets img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#div2 {
  margin: auto 30px;
  text-align: center;
}

#pets div h1 {
  text-align: center;
  font-size: 30px;
  color: #fb4c1f;
  line-height: 1.5;
}

#pets div p {
  text-align: center;
  font-size: 20px;
  color: rgba(42, 173, 196, 0.911);
  line-height: 1.5;
}

#pets div h5 {
  text-align: center;
  font-size: 23px;
  color: #fb4c1f;
}

.form-style-4 {
  width: 500px;
  font-size: 16px;
  background: #ff9900;
  padding: 30px 30px 15px 30px;
  border: 5px solid #53687E;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #fff;
}

.form-style-4 label {
  display: block;
  margin-bottom: 10px;
}

.form-style-4 label>span {
  display: inline-block;
  float: left;
  width: 150px;
}

.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 input[type=number] {
  background: transparent;
  border: none;
  border-bottom: 2px dashed #fcfdfd;
  width: 275px;
  outline: none;
  padding: 0px 0px 0px 0px;
  font-style: italic;
  margin-left: 70px;
  position: relative;
  bottom: 20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus {
  border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 button {
  background: #576E86;
  border: none;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  color: #A8BACE;
}

.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover,
.form-style-4 button {
  background: #394D61;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.5;
  background-color: rgba(42, 173, 196, 0.911);
  color: white;
  height: 120px;
}

#navIcons {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

#navIcons a {
  margin-top: 20px;
  width: 25px;
  text-decoration: none;
}

#navIcons img {
  margin-top: 20px;
  width: 25px;
}

footer hr {
  margin: auto;
  width: 90%;
  background-color: white;
}

.downSection {
  margin-top: 20px;
}

footer p {
  text-align: center;
  margin-top: 10px;
  color: #000;
}